{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Listado de Evaluaciones</h2>
    <table class="table table-hover">
        <thead class="table-success">
            <tr>
                <th>Asignatura</th>
                <th>Fecha y hora</th>
                <th>Número de Preguntas</th>
                <th>Resultados</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluacion in evaluaciones %}
            <tr>
                <td>{{ evaluacion.asignatura }}</td>
                <td>{{ evaluacion.fecha }}</td>
                <td>{{ evaluacion.numero_preguntas }}</td>
                <td>
                    <a href="{% url 'consultar_resultados' asignatura=evaluacion.asignatura grupo=evaluacion.grupo fecha=evaluacion.fecha %}" class="btn btn-success">Ver Detalle</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No hay evaluaciones registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- Botón para Programar Evaluación -->
        <div class="text-end mt-3">
            <a href="{% url 'programar_evaluacion' %}" class="btn btn-success">Programar Evaluación</a>
        </div>
</div>
{% endblock %}
