{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Listado de Respuestas</h2>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Respuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for respuesta in respuestas %}
            <tr>
                <td>{{ respuesta.id_resp }}</td>
                <td>{{ respuesta.enunciado_resp }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No hay respuestas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}