{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Mis Evaluaciones</h2>
    <table class="table table-striped">
        <thead class="table-success">
            <tr>
                <th>Asignatura</th>
                <th>Grupo</th>
                <th>Fecha</th>
                <th>Salón</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for eval in evaluaciones %}
            <tr>
                <td>{{ eval.id_asig__nombre_asig }}</td>
                <td>{{ eval.grupo }}</td>
                <td>{{ eval.fecha }}</td>
                <td>{{ eval.id_salon__id_salon }}</td>
                <td>
                    <a href="{% url 'presentar_evaluacion' eval.id_asig__nombre_asig eval.fecha eval.grupo %}" 
                       class="btn btn-success">
                        Presentar evaluacion
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
