{% extends 'base.html' %}

{% block content %}
<h2>Evaluación Ya Presentada</h2>
<p>La evaluación de {{ asignatura }} programada para la fecha {{ fecha }} en el grupo {{ grupo }} ya fue presentada.</p>

{% if nota is not None %}
    <p>Tu nota obtenida es: <strong>{{ nota }}</strong></p>
{% else %}
    <p>La nota aún no ha sido registrada.</p>
{% endif %}

<br>
<a href="{% url 'detalle_evaluacion' estudiante_id=request.user.estudiante.id_est asignatura=asignatura grupo=grupo fecha=fecha %}" 
class="btn btn-info">
 Ver Detalle
</a>
</br>
<br>
<a href="{% url 'listar_evaluaciones_estudiante' %}">Volver a Evaluaciones</a>
</br>
{% endblock %}
